# Secrets
.devc.env

# Python
__pycache__/
*.py[codz]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
env/
venv/

# Tools
.ruff_cache/
.pytest_cache/
.mypy_cache/
.pytype/

# Logs
*.log

# Environments
.env
.envrc
